<% if admin.followed_by?(current_user) %>
    <%= link_to admin_relationships_path(admin), method: :delete, remote: true, class: "follow_btn" do %>
        <button type="button" class="btn btn-info">フォロー中</button>
    <% end %>
<% else %>
    <%= link_to admin_relationships_path(admin), method: :post, remote: true, class: "follow_btn" do %>
        <button type="button" class="btn btn-outline-info">フォローする</button>
    <% end %>
<% end %>