<h1>このアプリケーションについて</h1>
ボルダリングジムの課題一つ一つに焦点をあて、あなたが登りたいと思える課題を見つけることができます。<br>
ジム関係者やセッターの方にとっても、ジムの課題に対する反応を確認することができます。<br>

一般ユーザーの方は、課題一覧からあなたの好きな課題があるか見てみましょう。<br>
ジム関係者の方は、ジムにある課題を投稿し、ユーザーが残すフィードバックを見てみましょう。<br>