<h1>このアプリケーションについて</h1>
ボルダリングジムにある課題の一つ一つに焦点をあてており、あなたが登りたいと思える課題を見つけることができます。<br>
セッターの方にとっても、ジムの課題に対してどのような感想を持たれているのかを確認することができます。<br>

一般ユーザーの方は、課題一覧からあなたの好きな課題があるか見てみましょう。<br>
ジム関係者の方は、ジムにある課題一つ一つを投稿し、ユーザーが残すフィードバックを見てみましょう。<br>