<%= link_to "課題投稿", new_post_image_path %>

<div class="scroll-list jscroll">
    <% @post_images.each do |post_image| %>
        <div>
            <%= link_to post_image_path(post_image.id) do %>
                <%= render 'post_images/list', post_image: post_image %>
            <% end %>
        </div>
    <% end %>
    <%= paginate @post_images %>
</div>
