<div class="scroll-list jscroll">
    <div class="card-list-container py-5">
    <% @post_images.each do |post_image| %>
        <div class="card w-auto mx-auto mt-2 shadow-lg">
            <%= attachment_image_tag post_image, :image, class:"card-img-top" %>
            <%= render 'post_images/list', post_image: post_image %>
        </div>
    <% end %>
    <%= paginate @post_images%>
    </div>
</div>
